@use '../../styles/index' as *;
@use '../../styles/colors' as *;

.thru-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    font-family: "Work Sans", sans-serif;
    font-size: 0.6rem;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 0.5px;

    // Toggle labels
    .desktop-badge-label {
        display: inline;
    }

    .mobile-badge-label {
        display: none;
    }

    @include mobile {
        padding: 0px 3px;
        font-size: 0.55rem; // Shrink font
        letter-spacing: 0; // Tighten spacing

        .desktop-badge-label {
            display: none;
        }

        .mobile-badge-label {
            display: inline;
        }
    }

    // Style for when they are actively on the course or have a tee time
    &.tee-time {
        background-color: var(--green);
        color: var(--white);
    }

    // Style for when they are actively on the course or have a tee time
    &.active {
        background-color: var(--yellow);
        color: var(--green);
    }

    // Style for when they finish their round for the day ("F")
    &.finished {
        background-color: var(--scoreboard-borderColor);
        color: var(--green);
        font-size: .5rem;

        @include mobile {
            font-size: .4rem;
        }
    }
}