// masters-pool/src/UI/components/thruBadge/styles.scss

@use '../../styles/colors' as *;

.thru-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 4px;
    font-family: "Work Sans", sans-serif;
    font-size: 0.6rem;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 0.5px;

    // Style for when they are actively on the course or have a tee time
    &.tee-time {
        background-color: var(--green);
        color: var(--white);
    }

    // Style for when they are actively on the course or have a tee time
    &.active {
        background-color: var(--yellow);
        color: var(--green);
    }

    // Style for when they finish their round for the day ("F")
    &.finished {
        background-color: var(--white);
        color: var(--green);
    }
}