@use '../modal-base' as *;

@include modal-structure;

.modal-content {
    p {
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .modal-example {
        background-color: #f3f3f3;
        padding: 12px;
        border-left: 4px solid var(--yellow);
        font-style: italic;
        margin-bottom: 20px;
        font-size: 0.9rem;
    }
}