@use '../modal-base' as *;

@include modal-structure;

.modal-content {
    p {
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .modal-example {
        background-color: var(--modal-example-BG);
        padding: 12px;
        border-left: 4px solid var(--modal-example-border-color);
        font-style: italic;
        margin-bottom: 20px;
        font-size: 0.9rem;
    }
}