@use '../modal-base' as *;

@include modal-structure;

.modal-content {

    .modal-example {
        background-color: var(--modal-example-BG);
        padding: 12px;
        border-left: 4px solid var(--modal-example-border-color);
        font-style: italic;
        margin-bottom: 20px;
        font-size: 0.9rem;
        color: var(--modal-example-FC);
    }
}