@use './_variables' as *;
@use './themes/default' as *;
@use './themes/masters' as *;

:root {
    /* COLORS */
    --green: rgb(0, 103, 71);
    --red: rgb(224, 15, 57);
    --white: white;
    --transparent: rgba(0, 0, 0, 0);

    /* DIMENSIONS */
    --footer-height: #{$footer-height};
    --grid-padding-height: #{$grid-padding-height};
    --grid-name-margin: #{$grid-name-margin};

    // Keep your default tournament fallback
    // TODO: SET AS 'default' WHEN YOU MAKE A DEFAULT THEME
    @extend [data-tournament='masters'];
}