@font-face {
    font-family: "Masters";
    src: url("./../../assets/fonts/Masters.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiempo";
    src: url("./../../assets/fonts/tiempo/Tiempo-text-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiempo";
    src: url("./../../assets/fonts/tiempo/Tiempo-Headline-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiempo";
    src: url("./../../assets/fonts/tiempo/Tiempo-Headline-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiempo";
    src: url("./../../assets/fonts/tiempo/Tiempo-Text-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}