@font-face {
    font-family: "Masters";
    src: url("./../../assets/fonts/Masters.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiempo";
    src: url("./../../assets/fonts/Tiempo.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}