@use './colors.scss' as *;
@use './fonts.scss';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

// Mobile Mixin
@mixin mobile {
    @media (min-height: 421px) and (max-width: 800px) {
        @content;
    }
}

@mixin no-landscape-logic {
    @media (orientation: landscape) and (max-height: 500px) {
        display: none !important;
    }
}

// SCSS Variables for layout defaults
$grid-padding-height: 5px;
$grid-name-margin: 15px;
$footer-height: 50px;

* {
    box-sizing: border-box;
}

html {
    // Prevents iOS from zooming/changing text size on orientation change
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

:root {
    // Standard Desktop Grid (approx 570px wide)
    --grid-layout: 60px 200px 50px 50px 50px 50px 120px;
    --grid-padding-width: 15px;

    @include mobile {
        // Compact Mobile Grid (approx 340px wide to fit phones)
        --grid-layout: 34px 110px 32px 32px 32px 32px 48px;
        --grid-padding-width: 8px;
    }

    font-family: system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
    line-height: 1.5;
    font-weight: 400;
    // color-scheme: var(--color-scheme);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.app-container {
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-top);
}

.content-wrap {
    width: 100%;
    min-height: calc(100vh - #{$footer-height});
    overflow-y: hidden;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    // Remove footer gap on mobile
    @include mobile {
        min-height: 100%;
        align-items: flex-start;
    }

    @include no-landscape-logic; // Hides the leaderboard/team pages in landscape
}

// Global animations...
@keyframes fadeInUp {
    from {
        opacity: 0.5;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp .7s ease forwards;
}

// strikethrough animation
@keyframes strikeThrough {
    from {
        transform: scaleX(0) skew(-30deg);
    }

    to {
        transform: scaleX(1) skew(-30deg);
    }
}