@use './colors.scss' as *;

// Oswald font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

// Define the columns here so we can share it with the children if needed
// POS | NAME | R1 | R2 | R3 | R4 | TOTAL
$grid-layout: 50px 200px 50px 50px 50px 50px 100px;
$grid-padding-height: 5px;
$grid-padding-width: 12px;
$grid-name-margin: 15px;
$footer-height: 50px;

* {
    box-sizing: border-box;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: var(--color-scheme);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.app-container {
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.app-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('../../assets/images/bg.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.12;

    z-index: 0;
    pointer-events: none;
}

.content-wrap {
    width: 100%;
    min-height: calc(100vh - #{$footer-height});
    overflow: overlay;
    position: relative;
    z-index: 1; // Places content ABOVE the background image
    display: flex;
    justify-content: center;
    align-items: center;
}

// Global animation for fade in and slide up effect
@keyframes fadeInUp {
    from {
        opacity: 0.5;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp .7s ease forwards;
}