[data-tournament='masters'] {
    /* THEME SPECIFICS */
    --mastersGreen: rgb(0, 103, 71);
    --mastersDarkGreen: rgb(0, 68, 50);
    --midnightGreen: rgb(0, 38, 28);
    --mastersYellow: rgb(252, 227, 0);

    /* THEME GLOBALS */
    --primary: var(--mastersGreen);
    --secondary: var(--mastersDarkGreen);
    --accent: var(--mastersYellow);
    --white_Var: var(--white);

    --primaryOpacity50: rgba(3, 44, 30, 0.88);

    /* --------------------------- */
    /* --- MASTERS LIGHT THEME --- */
    /* --------------------------- */

    /* Leaderboard */
    --leaderboard-row-BG: var(--white_Var);
    --leaderboard-row--hover-BG: #e1f4e9;
    --leaderboard-cell-BG: var(--white_Var);
    --leaderboard-cell--hover-BG: #f1fcf6;
    --leaderboard-row-favorite-BG: rgb(255, 251, 211);
    --leaderboard-row-favorite--hover-BG: rgb(255, 249, 181);
    --leaderboard-cell-favorite-BG: rgb(255, 252, 225);
    --leaderboard-cell-favorite--hover-BG: rgb(255, 252, 208);

    --leaderboard-row-FC: rgb(10, 10, 10);
    --leaderboard-row-CUT-FC: rgb(101, 107, 109);
    --leaderboard-cell-over-FC: var(--primary);
    --leaderboard-cell-under-FC: var(--red);
    --leaderboard-cell-position-FC: var(--primary);
    --leaderboard-cell-backdrop: var(--primary); // behind the active cell component
    --leaderboard-row-border-color: rgb(215, 215, 215);
    --leaderboard-cell-boxShadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
    --leaderboard-cell-boxShadow-mobile: inset 0 1px 3px rgba(0, 0, 0, 0.35);

    --leaderboard-title-BG: var(--white_Var);
    --leaderboard-title-FC: var(--primary);
    --leaderboard-column-FC: var(--primary);
    --leaderboard-border-color: var(--primary);
    --leaderboard-info: var(--primary);
    --leaderboard-tournament-icon: var(--primary);
    --leaderboard-tournament-icon-hover: var(--primary);
    --leaderboard-tournament-icon-opacity: 1;
    --leaderboard-active-golfers-indicator: var(--primary);
    --leaderboard-drop-shadow: drop-shadow(0px 0px 10px rgba(255, 252, 201, 0.15));

    /* Modals */
    --modal-BG: var(--white_Var);
    --modal-FC: var(--primary);
    --modal-border-color: var(--primary);
    --modal-button-FC: var(--white_Var);
    --modal-button-BG: var(--primary);
    --modal-button--hover-BG: var(--secondary);
    --modal-example-BG: #f3f3f3;
    --modal-example-FC: rgb(51, 51, 51);
    --modal-example-border-color: var(--accent);
    --modal-select-label: var(--primary);
    --modal-select-BG: #e1f4e9;
    --modal-select--focus-BG: rgb(255, 249, 181);
    --modal-select-FC: var(--primary);
    --modal-select-border: 1px solid var(--green);
    --modal-backdrop: rgba(0, 0, 0, 0.7);

    /* Team page */
    --teamPage-box-shadow: 0px 0px 30px 10px var(--secondary);
    --teamPage-BG: var(--white_Var);
    --teamPage-header-BG: var(--white_Var);
    --teamPage-header-FC: var(--primary);
    --teamPage-header-border-color: var(--primary);
    --teamPage-header-favorite: var(--primary);
    --teamPage-header-favorite-inactive: rgba(0, 103, 71, 0.5);
    --teamPage-header-CUT-line-color: #ff4d4d;

    /* Scorecard */
    --scorecard-title-FC: var(--primary);
    --scorecard-table-primary-color: var(--primary);
    --scorecard-table-column-FC: var(--white_Var);
    --scorecard-table-BG: var(--white_Var);
    --scorecard-table-FC: var(--primary);
    --scorecard-table-name-FC: var(--primary);
    --scorecard-table-name-BG: rgba(0, 103, 71, 0.12);
    --scorecard-table-endCol-BG: rgba(236, 192, 13, 0.18);
    --scorecard-cell-over-FC: var(--primary);
    --scorecard-cell-under-FC: var(--red);
    --scorecard-cell-CUT-FC: rgb(101, 107, 109);
    --scorecard-active-score-indicator: var(--primary);

    --scorecard-toggle: #ccc;
    --scorecard-toggle-slider: var(--white_Var);
    --scorecard-toggle-active: var(--primary);
    --scorecard-toggle-active-FC: var(--primary);
    --scorecard-toggle-inactive-FC: #999;
    --scorecard-update-FC: var(--primary);
    --scorecard-update-value-low-FC: var(--primary);
    --scorecard-update-opacity: 1;
    --scorecard-BG-flash-green: rgba(0, 103, 71, 0.25);
    --scorecard-BG-flash-red: rgba(224, 15, 57, 0.25);

    /* Nav */
    --nav-BG: var(--primary);
    --nav-FC: var(--white_Var);
    --nav-active-FC: var(--accent);
    --nav-border-color: transparent;
    --nav-tab--hover-FC: var(--white_Var);
    --nav-tab--hover-BG: var(--secondary);
    --nav-tab--focus-BG: rgba(0, 103, 70, 0.1);
    --nav-favorite-icon-color: var(--accent);

    /* Dashboard */
    --dashboard-BG: --transparent;
    --dashboard-panel-BG: var(--white_Var);
    --dashboard-panel-border-color: var(--primary);
    --dashboard-panel-upper-BG: var(--white_Var);
    --dashboard-panel-lower-BG: var(--white_Var);
    --dashboard-panel-event-name: var(--primary);
    --dashboard-panel-title: var(--primary);
    --dashboard-table-FC: var(--primary);
    --dashboard-table-BG: var(--white_Var);
    --dashboard-table-header-FC: var(--primary);
    --dashboard-table-header-BG: var(--secondary);
    --dashboard-header-border-color: var(--primary);
    --dashboard-row-border-color: rgb(225, 225, 225);
    --dashboard-row-highlight: var(--primary);
    --dashboard-row-selected: #bfbfbf;
    --dashboard-row-projected-cut: rgba(150, 153, 157, 0.15);
    --dashboard-team-detail-FC: var(--primary);
    --dashboard-team-container-BG: var(--white_Var);
    --dashboard-timer-FC: var(--primary);
    --dashboard-timer-low-FC: var(--primary);
    --dashboard-timer-critical-BG: var(--accent);
    --dashboard-timer-critical-FC: var(--primary);

    /* Loading / NoLandscape / NoData */
    --loading-FC: var(--accent);
    --loading-subtext-FC: var(--white_Var);
    --loading-dropShadow: var(--secondary);
    --noData-FC: var(--primary);

    /* thruBadge */
    --thruBadge-teeTime-FC: var(--white_Var);
    --thruBadge-teeTime-BG: var(--primary);
    --thruBadge-active-FC: var(--primary);
    --thruBadge-active-BG: var(--accent);

    /* Other */
    --color-scheme: light;
    --background-slider-tint: var(--primary);
    --background-slider-opacity: .6;
    --themeToggle: rgba(255, 255, 255, 0.4);
    --themeToggle-active: var(--accent);
    --LeaderboardDashboardNav-FC: var(--white_Var);
    --scroll-thumb: var(--primary);
    --scroll-track: rgba(236, 192, 13, 0.18);

    /* -------------------------- */
    /* --- MASTERS DARK THEME --- */
    /* -------------------------- */

    &[data-theme='dark'] {
        --leaderboard-row-BG: var(--primary);
        --leaderboard-row--hover-BG: rgb(0, 85, 58);
        --leaderboard-cell-BG: var(--primary);
        --leaderboard-cell--hover-BG: rgb(0, 85, 58);
        --leaderboard-row-favorite-BG: rgb(0, 124, 85);
        --leaderboard-row-favorite--hover-BG: rgb(0, 85, 58);
        --leaderboard-cell-favorite-BG: rgb(0, 124, 85);
        --leaderboard-cell-favorite--hover-BG: rgb(0, 85, 58);

        --leaderboard-row-FC: var(--white_Var);
        --leaderboard-row-CUT-FC: rgb(178, 188, 192);
        --leaderboard-cell-over-FC: var(--white_Var);
        --leaderboard-cell-under-FC: var(--accent);
        --leaderboard-cell-position-FC: var(--white_Var);
        --leaderboard-cell-backdrop: var(--secondary); // behind the active cell component
        --leaderboard-row-border-color: var(--secondary);
        --leaderboard-cell-boxShadow: inset 0 1px 3px rgba(0, 0, 0, 0.6);
        --leaderboard-cell-boxShadow-mobile: inset 0 1px 3px rgba(0, 0, 0, 0.5);

        --leaderboard-title-BG: var(--primary);
        --leaderboard-title-FC: var(--white_Var);
        --leaderboard-column-FC: var(--white_Var);
        --leaderboard-border-color: var(--secondary);
        --leaderboard-info: var(--accent);
        --leaderboard-tournament-icon: var(--white_Var);
        --leaderboard-tournament-icon-hover: var(--accent);
        --leaderboard-tournament-icon-opacity: .4;
        --leaderboard-active-golfers-indicator: var(--midnightGreen);
        --leaderboard-drop-shadow: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

        /* Modals */
        --modal-BG: var(--primary);
        --modal-FC: var(--white_Var);
        --modal-border-color: var(--accent);
        --modal-button-FC: var(--white_Var);
        --modal-button-BG: var(--midnightGreen);
        --modal-button--hover-BG: var(--secondary);
        --modal-example-BG: var(--secondary);
        --modal-example-FC: var(--white_Var);
        --modal-example-border-color: var(--accent);
        --modal-select-label: var(--white_Var);
        --modal-select-BG: var(--secondary);
        --modal-select--focus-BG: rgb(255, 249, 181);
        --modal-select-FC: var(--white_Var);
        --modal-select-border: 1px solid var(--midnightGreen);
        --modal-backdrop: rgba(0, 0, 0, 0.7);

        /* Team page */
        --teamPage-box-shadow: 0px 0px 30px 10px transparent;
        --teamPage-BG: var(--primaryOpacity50);
        --teamPage-header-BG: var(--secondary);
        --teamPage-header-FC: var(--white_Var);
        --teamPage-header-border-color: var(--primary);
        --teamPage-header-favorite: var(--accent);
        --teamPage-header-favorite-inactive: rgba(255, 255, 255, 0.6);
        --teamPage-header-CUT-line-color: #ff4d4d;

        /* Scorecard */
        --scorecard-title-FC: var(--white_Var);
        --scorecard-table-primary-color: var(--primary);
        --scorecard-table-column-FC: var(--white_Var);
        --scorecard-table-BG: --transparent;
        --scorecard-table-FC: var(--white_Var);
        --scorecard-table-name-FC: var(--white_Var);
        --scorecard-table-name-BG: rgba(0, 103, 70, 0.3);
        --scorecard-table-endCol-BG: rgba(0, 0, 0, 0.3);
        --scorecard-cell-over-FC: var(--white_Var);
        --scorecard-cell-under-FC: var(--accent);
        --scorecard-cell-CUT-FC: rgb(135, 143, 146);
        --scorecard-active-score-indicator: var(--primary);

        --scorecard-toggle: rgba(0, 0, 0, 0.3);
        --scorecard-toggle-slider: var(--primary);
        --scorecard-toggle-active: rgba(0, 0, 0, 0.3);
        --scorecard-toggle-active-FC: var(--white_Var);
        --scorecard-toggle-inactive-FC: #999;
        --scorecard-update-FC: var(--white_Var);
        --scorecard-update-value-low-FC: var(--accent);
        --scorecard-update-opacity: .5;
        --scorecard-BG-flash-green: rgba(0, 103, 71, 0.25);
        --scorecard-BG-flash-red: rgba(224, 15, 57, 0.25);

        /* Nav */
        --nav-BG: var(--primary);
        --nav-FC: rgb(215, 215, 215);
        --nav-active-FC: var(--accent);
        --nav-border-color: var(--primary);
        --nav-tab--hover-FC: var(--white_Var);
        --nav-tab--hover-BG: var(--secondary);
        --nav-tab--focus-BG: rgb(0, 55, 41);
        --nav-favorite-icon-color: var(--accent);

        /* Dashboard */
        --dashboard-BG: var(--transparent);
        --dashboard-panel-BG: var(--primaryOpacity50);
        --dashboard-panel-border-color: var(--primary);
        --dashboard-panel-upper-BG: var(--transparent);
        --dashboard-panel-lower-BG: var(--transparent);
        --dashboard-panel-event-name: var(--white_Var);
        --dashboard-panel-title: var(--white_Var);
        --dashboard-table-FC: var(--white_Var);
        --dashboard-table-BG: var(--transparent);
        --dashboard-table-header-FC: var(--white_Var);
        --dashboard-table-header-BG: var(--midnightGreen);
        --dashboard-header-border-color: var(--primary);
        --dashboard-row-border-color: rgb(0, 74, 54);
        --dashboard-row-highlight: var(--accent);
        --dashboard-row-selected: #ffffff82;
        --dashboard-row-projected-cut: rgb(0, 85, 58);
        --dashboard-team-detail-FC: var(--white_Var);
        --dashboard-team-container-BG: var(--transparent);
        --dashboard-timer-FC: var(--white_Var);
        --dashboard-timer-low-FC: var(--accent);
        --dashboard-timer-critical-BG: var(--accent);
        --dashboard-timer-critical-FC: var(--secondary);

        /* Loading / NoLandscape / NoData */
        --loading-FC: var(--accent);
        --loading-subtext-FC: var(--white_Var);
        --loading-dropShadow: var(--secondary);
        --noData-FC: var(--white_Var);

        /* thruBadge */
        --thruBadge-teeTime-FC: var(--white_Var);
        --thruBadge-teeTime-BG: var(--primary);
        --thruBadge-active-FC: var(--secondary);
        --thruBadge-active-BG: var(--accent);

        /* Other */
        --color-scheme: light;
        --background-slider-tint: var(--primary);
        --background-slider-opacity: .6;
        --themeToggle: rgba(255, 255, 255, 0.4);
        --themeToggle-active: var(--accent);
        --LeaderboardDashboardNav-FC: var(--white_Var);
        --scroll-thumb: var(--primary);
        --scroll-track: rgba(0, 0, 0, 0.3);
    }
}