@use '../../styles/colors' as *;

.no-landscape-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    text-align: center;

    .no-landscape-content {
        padding: 2rem;
        border-radius: 12px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        transform: translateY(-10px);
    }

    .no-landscape-text {
        color: var(--yellow);
        font-family: "Masters", serif;
        font-size: 1.5rem;
        margin: 0;
    }

    .no-landscape-subtext {
        font-size: 1rem;
        color: var(--white);
        font-family: "masters", serif;
        padding-top: 8px;
    }
}

// Logic to show the overlay
@media (orientation: landscape) and (max-height: 500px) {
    .no-landscape-overlay {
        display: flex;
    }
}