@use '../../../../styles/colors' as *;
@use '../../../../styles/index' as *;
@use '../../../../styles/fonts' as *;
@use '../../../../styles/variables' as *;

.dashboard-team-scorecard-wrapper {
    overflow-y: auto;
    height: 100%;
    // padding-right: 8px;
    max-width: fit-content;


    .dashboard-team-scorecard {
        // padding: 16px;
        animation: fadeInDown 0.3s ease forwards;

        @include mobile {
            padding: 0;
        }

        .scorecard-section-container {
            .scorecard-controls {
                display: none;
            }

            .scorecard-table-container {
                width: 100%;
                border-radius: 0px;
                border: none;

                @include mobile {}

                .scorecard-table-row {
                    display: grid;
                    $round-width: 50px;
                    // Name | R1 | R2 | R3 | R4 | End
                    grid-template-columns: 220px repeat(4, $round-width) 60px;
                    border-top: 1px solid var(--scorecard-table-primary-color);

                    // 2. FORCE WIDTH SO IT DOESN'T CRUNCH
                    min-width: max-content;

                    // MOBILE GRID SIZING
                    @include mobile {
                        $round-width-mobile: 38px;
                        grid-template-columns: 142px repeat(4, $round-width-mobile) 48px;
                    }

                    &.header {
                        background-color: var(--dashboard-panel-upper-BG);
                        border-top: none;
                        color: var(--dashboard-table-header-FC);

                        .scorecard-table-cell {
                            color: var(--dashboard-table-header-FC);
                            border: none;
                        }
                    }

                    .scorecard-table-cell {
                        font-size: 14px;

                        @include mobile {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}