@use '../../styles/colors' as *;
@use '../../styles/index' as *;

.team-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - #{$footer-height});
    background-color: white;
    box-shadow: 0px 0px 30px 10px var(--darkGreen);

    .team-container {
        position: relative;
        height: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;

        .team-header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: rgb(224, 224, 228);
            padding: 10px 20px;
            gap: 16px;
            border-bottom: solid 4px var(--green);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            position: sticky;
            top: 0;
            z-index: 3;

            .favorite-icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 2px #ccc;
                background-color: white;
                border-radius: 100px;
                height: 30px;
                width: 30px;

                .favorite-icon {
                    background: none;
                    border: none;
                    font-size: 24px;
                    cursor: pointer;
                    color: #ccc;
                    transition: transform 0.2s, color 0.2s;
                }

                &.active {
                    background-color: var(--green);
                    border-color: var(--green);

                    .favorite-icon {
                        color: var(--yellow);
                    }
                }
            }


            .team-header-data {
                font-size: 2.5rem;
                font-weight: bold;
                color: var(--green);
                font-family: 'Tiempo', serif;

                &.place {}

                &.name {
                    font-family: 'Tiempo', serif;
                }

                &.score {
                    letter-spacing: 2px;
                }
            }


            .team-stats {
                flex: 2;
                overflow-y: scroll;
            }
        }
    }
}