@use '../../styles/colors' as *;
@use '../../styles/index' as *;

.team-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - #{$footer-height});

    .team-container {
        .team-header {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--darkGreen);
            padding: 20px;
            gap: 12px;

            .favorite-icon {
                background: none;
                border: none;
                font-size: 2rem;
                cursor: pointer;
                color: #ccc;
                transition: transform 0.2s, color 0.2s;

                &:hover {
                    transform: scale(1.1);
                }

                &.active {
                    color: var(--yellow); // Gold star
                }
            }

            .team-header-data {
                font-size: 2rem;
                font-weight: bold;
                color: var(--scoreboard-FC-column);

                & .place {}

                & .name {}

                &.score {}
            }

        }
    }
}