@use '../../styles/colors' as *;
@use '../../styles/index' as *;

.team-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - #{$footer-height});
    background-color: white;
    box-shadow: 0px 0px 30px 10px var(--darkGreen);

    .team-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;

        .team-header {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            background-color: var(--green);
            border-bottom: solid 4px var(--yellow);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            position: sticky;
            top: 0;
            z-index: 3;

            .favorite-icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0px;
                right: 3px;

                .favorite-icon {
                    background: none;
                    border: none;
                    font-size: 24px;
                    cursor: pointer;
                    color: #bbbbbb;
                    transition: transform 0.2s, color 0.2s;
                }

                &.active {
                    .favorite-icon {
                        color: var(--yellow);
                    }
                }
            }

            .team-header-data-container {
                padding: 10px 25px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 16px;

                .team-header-data {
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: var(--white);
                    font-family: 'Tiempo', serif;
                    font-weight: 400;

                    &.place {}

                    &.name {
                        font-family: 'Tiempo', serif;
                    }

                    &.score {
                        letter-spacing: 2px;
                    }
                }
            }
        }

        .team-stats {
            overflow-y: overlay;

            .team-footer {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding-bottom: 20px;

                .logo-container {
                    $logo-size: 35px;
                    max-height: $logo-size;
                    height: $logo-size;

                    img {
                        height: inherit;
                    }
                }
            }

            // &::-webkit-scrollbar {
            //     width: 13px;
            // }

            // &::-webkit-scrollbar-track {
            //     background: transparent; // Track stays invisible
            // }

            // &::-webkit-scrollbar-thumb {
            //     // Use an RGBA version of your green with 0 opacity
            //     background-color: rgba(0, 128, 0, 0);
            //     border: solid 3px transparent;
            //     border-radius: 20px;
            //     background-clip: content-box;
            //     transition: background-color 0.3s ease; // Smooth transition for thumb color

            //     &:hover {
            //         background-color: var(--green); // Pop to full color on hover
            //     }
            // }

        }
    }
}