@use '../../styles/colors' as *;
@use '../../styles/index' as *;
@use '../../styles/fonts' as *;
@use '../../styles/variables' as *;

.dashboard-page {
    padding: 20px;
    margin: 0 auto;
    color: var(--text-primary, #fff); // Update variables to match your colors.scss
    height: calc(100dvh - $footer-height); // Assuming bottom nav is ~80px
    overflow: hidden;
    background-color: var(--dashboard-BG);

    &.desktop {
        display: block;
    }

    &.mobile {
        display: none;
    }

    @media (max-width: 1515px) {
        height: unset;

        &.desktop {
            display: none;
        }

        &.mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 560px;
            padding-bottom: 80px;
        }
    }

    @include mobile {
        height: unset;

        &.desktop {
            display: none;
        }

        &.mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 20px;
        }
    }


    .dashboard-grid {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 20px;
        height: 100%;

        @media (max-width: 1515px) {
            grid-template-columns: 1fr
        }
    }

    .dashboard-col {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        overflow: hidden;
    }

    .dashboard-panel {
        background: var(--dashboard-panel-BG);
        border: 1px solid var(--dashboard-panel-border-color);
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-height: stretch;

        @include mobile {
            max-height: 82vh;
        }

        @media (max-width: 1515px) {
            max-height: 82vh;
        }

        $TeamTableColumns: 48px 1fr 50px 50px 50px 50px 60px;
        $GolferTableColumns: 40px 1fr 70px 40px 40px 40px 40px 56px;
        $Mobile_TeamTableColumns: 38px 1fr 41px 41px 41px 41px 50px;
        $Mobile_GolferTableColumns: 38px 1fr 66px 54px;

        .panel-upper {
            background-color: var(--dashboard-panel-upper-BG);
            padding: 8px 0 0 0;

            &.team-details {
                padding-bottom: 8px;
                border-bottom: 1px solid var(--dashboard-header-border-color);
            }

            .panel-header {
                font-family: 'Tiempo', serif;
                color: var(--dashboard-panel-title);
                font-size: 1.2rem;
                font-weight: 600;
                padding: 8px 16px;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: center;
            }

            .leaderboard-header {
                display: grid;
                align-items: center;
                border-bottom: 1px solid var(--dashboard-header-border-color);
                color: var(--dashboard-table-header-FC);
                font-size: 0.75rem;
                font-weight: bold;
                padding: 0 0 0 3px; // +3px needed to match the extra padding from the highlighted row

                &.team-table {
                    grid-template-columns: $TeamTableColumns;

                    @include mobile {
                        grid-template-columns: $Mobile_TeamTableColumns;
                    }
                }

                &.golfer-table {
                    grid-template-columns: $GolferTableColumns;
                    padding-right: 6px; // account for the scrollbar

                    @include mobile {
                        grid-template-columns: $Mobile_GolferTableColumns;

                        .round-score {
                            @include mobile {
                                display: none;
                            }
                        }
                    }
                }

                .col {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 8px;
                }

                .pos {
                    padding-left: 16px;

                    @include mobile {
                        padding-left: 8px;
                    }
                }

                .golfer {
                    justify-content: flex-start;
                }

                .total-score {
                    padding-right: 16px;

                    @include mobile {
                        padding-right: 6px;
                    }
                }
            }
        }

        .panel-lower {
            background-color: var(--dashboard-panel-lower-BG);
            overflow: overlay;

            &.team-details {
                display: flex;
                justify-content: center;
            }

            .mini-leaderboard {
                font-size: 0.9rem;
                color: var(--dashboard-table-FC);
                background-color: var(--dashboard-table-BG);
                flex: 1;
                overflow: hidden;

                .leaderboard-row {
                    display: grid;
                    align-items: center;
                    cursor: pointer;
                    transition: background 0.2s;
                    background-color: var(--dashboard-table-BG);
                    border-left: 3px solid var(--transparent); // needed to match the extra padding from the highlighted row

                    &.cut-row {
                        // Faded background color. You can use rgba or create a new CSS variable
                        // background-color: rgba(0, 0, 0, 0.083);
                        opacity: 0.7; // Optional: slightly dims the text/content too
                    }

                    &.first-cut-row {
                        // Using your existing cut text color for the border so it matches your theme
                        // !important is used to override the standard &+.leaderboard-row border
                        border-top: 1px solid var(--leaderboard-row-CUT-FC) !important;
                    }

                    &.team-table {
                        grid-template-columns: $TeamTableColumns;

                        &:hover {
                            .team .active-golfers-container {
                                opacity: 1;
                            }
                        }

                        @include mobile {
                            grid-template-columns: $Mobile_TeamTableColumns;

                            &:hover {
                                .team .active-golfers-container {
                                    opacity: .5;
                                }
                            }
                        }


                        .team {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .team-name {
                                &.is-cut {
                                    color: var(--scorecard-cell-CUT-golferName-FC) !important;
                                    font-style: italic;
                                    position: relative;
                                    display: inline-block;

                                    &::after {
                                        content: '';
                                        position: absolute;
                                        left: -5px;
                                        right: -5px; // Leaves a little gap at the end
                                        top: 50%;
                                        height: 3px; // Thinner line for the table
                                        background-color: var(--scorecard-cell-CUT-golferName-FC) !important;
                                        transform-origin: left;
                                        animation: strikeThrough 0.8s cubic-bezier(.22, .9, .24, 1) 0.6s forwards;
                                        transform: scaleX(0); // Hidden until animation
                                        z-index: 10;

                                        @include mobile {
                                            left: -3px;
                                            right: -3px;
                                        }
                                    }
                                }
                            }

                            .active-golfers-container {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: var(--dashboard-table-FC);
                                opacity: .5;

                                .active-golfers {
                                    font-size: 0.75rem;
                                    font-weight: bold;
                                }

                                .golfer-icon {
                                    color: var(--dashboard-table-FC);
                                }
                            }

                        }
                    }

                    &.golfer-table {
                        grid-template-columns: $GolferTableColumns;
                        // padding-right: 6px; // account for the scrollbar

                        @include mobile {
                            grid-template-columns: $Mobile_GolferTableColumns;
                            padding-right: 0px;
                        }

                        .round-score {
                            @include mobile {
                                display: none;
                            }
                        }

                        .team {
                            opacity: .6;
                            font-style: italic;
                        }
                    }

                    // Apply a border only if there is a .leaderboard-row before it
                    &+.leaderboard-row {
                        border-top: 1px solid var(--dashboard-row-border-color);
                    }

                    .col {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 8px;
                        font-weight: 600;

                        @include mobile {
                            padding: 8px;
                        }

                        &.under-par {
                            color: var(--leaderboard-cell-under-FC);
                        }

                        &.over-par,
                        &.even-par {
                            color: var(--leaderboard-cell-over-FC);
                        }

                        &.cut {
                            color: var(--leaderboard-row-CUT-FC);
                        }
                    }

                    // When there are 9 teams the row compacts vertically
                    &.compact-9 {
                        .col {
                            padding: 7px 8px;

                            // 14in macbook pro
                            @media (max-width: 1515px) {
                                @media (max-height: 912px) {
                                    padding: 6px 7px;
                                }
                            }

                            @include mobile {
                                padding: 8px;
                            }
                        }
                    }

                    .pos {
                        padding-left: 16px;

                        @include mobile {
                            padding-left: 8px;
                        }
                    }

                    .team {
                        border-right: solid 1px var(--dashboard-header-border-color);
                    }

                    .total-score,
                    .team,
                    .pos {
                        font-weight: bold;
                    }

                    .golfer {
                        font-size: 13px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        gap: 6px;
                        white-space: nowrap;
                        overflow: hidden;
                        min-width: 215px;
                        max-width: 215px;

                        @media (max-width: 1515px) {
                            min-width: unset;
                        }

                        @include mobile {
                            min-width: unset;
                        }

                        .golfer-name {
                            min-width: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: left;
                        }

                        .badge-container {
                            display: flex;
                            flex-shrink: 0;
                        }
                    }

                    .total-score {
                        padding-right: 16px;
                        background-color: var(--scorecard-table-endCol-BG);

                        @include mobile {
                            padding-right: 6px;
                        }
                    }

                    &.selected {
                        border-left: 3px solid var(--dashboard-row-selected);
                    }

                    &.favorite {
                        border-left: 3px solid var(--dashboard-row-highlight);
                        background-color: rgba(255, 207, 0, 0.085);
                    }

                    &:hover {
                        background: var(--leaderboard-row--hover-BG);
                    }

                    @include mobile {

                        &:hover,
                        &:focus,
                        &:active,
                        &:focus-visible {
                            background: unset;
                        }
                    }
                }

                .projected-cut-line {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2px 0;
                    // border-top: solid 1px var(--white_Var);
                    // border-bottom: solid 1px var(--white_Var);
                    border-top: 1px dashed var(--dashboard-row-border-color);
                    border-bottom: 1px dashed var(--dashboard-row-border-color);
                    background-color: var(--dashboard-row-projected-cut);
                    color: var(--leaderboard-row-CUT-FC);
                    font-size: 0.7rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    &:hover {
                        background: var(--leaderboard-row--hover-BG);
                    }
                }
            }
        }

    }

    .golfer-panel {
        flex: 1; // Take up remaining vertical space
        overflow: hidden;
    }
}

// MOBILE HEADER and FOOTER
.dashboard-footer,
.dashboard-header {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px 0px 12px 0px;

    @include mobile {
        display: flex;
    }

    .logo-container {
        $logo-size: 35px;
        max-height: $logo-size;
        height: $logo-size;
        display: block;
        text-decoration: none;
        outline: none;

        img {
            height: inherit;
        }
    }
}

.dashboard-header {
    text-decoration: none;
    color: var(--LeaderboardDashboardNav-FC);
    display: none;
    padding: 10px 0px 20px 0px;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @include mobile {
        display: flex;
    }

    .header-arrow {
        font-size: 24px;
    }

    .header-text {
        font-family: 'masters';
        font-size: 16px;
        transform: translateY(5px);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
}