// masters-pool/src/UI/pages/team/player/styles.scss

@use '../../../../styles/colors' as *;
@use '../../../../styles/index' as *;

.player-wrapper {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--scoreboard-borderColor);
    background-color: var(--scoreboard-BG-row);

    .player-container {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .player-name {
            font-family: 'Tiempo';
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--green);
            margin-bottom: 8px;
        }

        .player-scorecard {
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;

            .player-scorecard-row {
                display: grid;
                // Title(50px) | 18 Holes(25px each) | Total(50px)
                grid-template-columns: 75px repeat(18, 40px) 75px;

                &.header {
                    background-color: var(--green);
                    color: var(--scoreboard-FC-column);
                    font-weight: bold;
                    font-size: 0.9rem;
                }

                &.par-row {
                    background-color: rgb(225, 225, 225);
                    font-size: 0.8rem;
                    color: #666;
                    border-bottom: 1px solid #ebebeb;
                }

                &.score-row {
                    font-size: 0.9rem;
                    border-bottom: 1px solid #ebebeb;

                    &:last-child {
                        border-bottom: none;
                    }
                }

                .player-scorecard-cell {
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid #ebebeb;

                    &.row-title {
                        font-weight: bold;
                        border-right: 1px solid #ccc;
                    }

                    &.row-end {
                        font-weight: bold;
                        border-right: none;
                        border-left: 1px solid #ccc;
                    }

                    &.score {
                        font-weight: 500;
                        height: 40px;
                    }
                }

                &.score-row {
                    color: var(--green);
                }
            }
        }
    }
}