@use '../../../../styles/colors' as *;
@use '../../../../styles/index' as *;

.scorecard-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px 50px 30px;

    .spacer-row {
        height: 10px;
    }
}

/* --- The Toggle Switch CSS --- */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--green);
}

input:checked+.slider:before {
    transform: translateX(20px);
}