@use '../../../../styles/colors' as *;
@use '../../../../styles/index' as *;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

.modal-content {
    background-color: var(--scoreboard-BG-row);
    padding: 30px;
    border-radius: 8px;
    max-width: 450px;
    width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    border-top: 6px solid var(--green);
    color: #333;

    h3 {
        margin-top: 0;
        color: var(--darkGreen);
        font-family: "Tiempo", serif;
        font-size: 2rem;
    }

    p {
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .modal-example {
        background-color: #f3f3f3;
        padding: 12px;
        border-left: 4px solid var(--yellow);
        font-style: italic;
        margin-bottom: 20px;
        font-size: 0.9rem;
    }

    .close-btn {
        background-color: var(--darkGreen);
        color: var(--scoreboard-FC-column);
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
        width: 100%;
        transition: background 0.2s;

        &:hover {
            background-color: var(--green);
        }
    }
}